<ul>
  <li><a{% if page.url == '/lead-a-session.html' %} class="menuactive" {% endif %} href="{{ '/lead-a-session.html' | relative_url }}"><span>Lead a session</span></a></li>
  <li><a{% if page.url == '/inter-activity.html' %} class="menuactive" {% endif %} href="{{ '/interactivity.html' | relative_url }}"><span>How can I make my session interactive?</span></a></li>
  <li><a{% if page.url == '/submission-stages1.html' %} class="menuactive" {% endif %} href="{{ '/submission-stages1.html' | relative_url }}"><span>Submission stages</span></a></li>
  <li><a{% if page.url == '/info-for-speakers.html' %} class="menuactive" {% endif %} href="{{ '/info-for-speakers.html' | relative_url }}"><span>Information for speakers</span></a></li>
    <li><a{% if page.url == '/successful-sessions.html' %} class="menuactive" {% endif %} href="{{ '/successful-sessions.html' | relative_url }}"><span>Sample of recent sessions</span></a></li>
  <li><a{% if page.url == '/prev-conf-programmes.html' %} class="menuactive" {% endif %} href="{{ '/prev-conf-programmes.html' | relative_url }}"><span>Previous conferences programmes</span></a></li>
</ul>
