<ul>
  <li><a{% if page.url == '/lead-a-session.html' %} class="menuactive" {% endif %} href="{{ '/lead-a-session.html' | relative_url }}"><span>Lead a session</span></a></li>
  <li><a{% if page.url == '/interactivity.html' %} class="menuactive" {% endif %} href="{{ '/interactivity.html' | relative_url }}"><span>How can I make my session interactive?</span></a></li>
  <li><a{% if page.url == '/submission-stages.html' %} class="menuactive" {% endif %} href="{{ '/submission-stages.html' | relative_url }}"><span>Submission stages</span></a></li>
</ul>
