<nav>
  <ul>
    <li>
      <a href="{{ '/sponsor.html' | relative_url }}"><span>Sponsor Us</span></a>
    </li>
    <li>
      <a href="{{ '/lead-a-session.html' | relative_url }}"><span>Lead a Session</span></a>
    </li>
    <li>
      <a href="{{ '/organisers.html' | relative_url }}"><span>Organisers</span></a>
    </li>
    <li>
      <a href="{{ '/location.html' | relative_url }}"><span>Location</span></a>
    </li>
    <li>
      <a href="{{ '/previousconferences.html' | relative_url }}"><span>Previous Conferences</span></a>
    </li>
    <li>
      <a href="{{ '/code-of-conduct.html' | relative_url }}"><span>Code of Conduct</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/scripts/myprofile.php"><span>My Spa</span></a>
    </li>
  </ul>
</nav>
