<nav>
  <ul>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/sponsor.html"><span>Sponsor Us</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/lead-a-session.html"><span>Lead a Session</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/organisers.html"><span>Organisers</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/location.html"><span>Location</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/previousconferences.html"><span>Previous Conferences</span></a>
    </li>
    <li>
      <a href="http://spaconference.org/{{ site.conference.conference_year }}/code-of-conduct.html"><span>Code of Conduct</span></a>
    </li>
    <li>
      <a href="/scripts/myprofile.php"><span>My Spa</span></a>
    </li>
  </ul>
</nav>
